<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030715449548-j7a0233u978kr5huf34qphhcb40qks1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030715449548-j7a0233u978kr5huf34qphhcb40qks1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030715449548-n6ti00qoh8rj1blgam5ei00mio2sep98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTPXvs9Vd4OfuP6pd-5eH8Dm5VoMTyS7A</string>
	<key>GCM_SENDER_ID</key>
	<string>1030715449548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juststarted.ycm</string>
	<key>PROJECT_ID</key>
	<string>yellowclassmovies</string>
	<key>STORAGE_BUCKET</key>
	<string>yellowclassmovies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030715449548:ios:9cb1618739c5d425686269</string>
</dict>
</plist>